<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="BVT test" verbose="1">

	<parameter name="url" value="http://localhost:9090/airlock/api/admin"></parameter>
	<parameter name="analyticsUrl" value="http://localhost:9090/airlock/api/analytics"></parameter>
	<parameter name="translationsUrl" value="http://localhost:9090/airlock/api/translations"></parameter>
	<parameter name="configPath" value="./configFiles/unitest/"></parameter>
	<parameter name="operationsUrl" value="http://localhost:9090/airlock/api/ops"></parameter>
	<parameter name="excludeProductsDelete" value=""/>
	<parameter name="productsToDeleteFile" value="./src/tests/productsToDelete.txt" />
	<parameter name="deleteAll" value="false" />
	<parameter name="notify" value="false" />
	<parameter name="seasonVersion" value="3.0" />
	<parameter name="userName" value=""></parameter>
	<parameter name="userPassword" value=""></parameter>
	<parameter name="adminUser" value=""></parameter>
	<parameter name="adminPassword" value=""></parameter>
	<parameter name="appName" value=""/>
	<parameter name="sessionToken" value=""/>


	<listeners>
        <listener class-name="tests.testng.ExecOrderReporter" />
        <listener class-name="tests.testng.ExecOrderEmailReporter" />
    </listeners>
    
	<test name="BeforeSuite"  enabled="true"> 
   	 	<classes> 
       		 <class name="tests.restapi.SuiteSetup"></class> 
    	</classes> 
	</test> 
	    		
	<test name="BVT test"   enabled="true">
    	<packages>
      		<package name="tests.restapi.bvt" />
  	 	</packages>
   </test>	
   
   	<test name="BVT test"   enabled="false">
		<classes>
			<class name="tests.restapi.bvt.SubPurchasesInMutualExclusionGroups">
			</class>
		</classes>
   </test>
   
      <test name="AfterSuite"  enabled="true"> 
   	 	<classes> 
       		 <class name="tests.restapi.SuiteCleanup"></class> 
    	</classes> 
	</test>
 				
</suite>


